@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>HackQuarantine</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcdspTAODl0dMGPbpkStxmhYRqroYwG0Y&libraries=places&callback=initMap" async defer></script>
    <style>
        #map {
            width: 100%;
            height: 400px;
            background-color: grey;
        }
    </style>

</head>
<body>

    <div>
        <form asp-action="Search" method="post">
            <div asp-validation-summary="All"></div>
            <input id="search" name="search" type="text" placeholder="Enter search..." />
            <input id="city" name="city" type="text" placeholder="Enter city..." />
            <button onclick="Search()" id="searchButton" type="submit" class="btn btn-info">Search</button>
        </form>
    </div>
    <br />
    <div id="map"></div>
</body>
</html>

<script>
    function Search() {
        var search = $('#search').val();
        var city = $('#city').val();
        sessionStorage.setItem('search', search);
        sessionStorage.setItem('city', city);
    };

    var map;
    var service;
    var infowindow;

    function initMap() {
        var sydney = new google.maps.LatLng(40.7128, -74.0060);

        infowindow = new google.maps.InfoWindow();

        map = new google.maps.Map(
            document.getElementById('map'), { center: sydney, zoom: 15 });

        var request = {
            location: sydney,
            radius: '500',
            keyword: ['grocery store']
        };

        service = new google.maps.places.PlacesService(map);
        service.nearbySearch(request, callback);
    }

    function callback(results, status) {
        if (status == google.maps.places.PlacesServiceStatus.OK) {
            for (var i = 0; i < results.length; i++) {
                createMarker(results[i]);
            }
        }
    }

    function createMarker(place) {
        var marker = new google.maps.Marker({
            map: map,
            position: place.geometry.location
        });

        google.maps.event.addListener(marker, 'click', function () {
            infowindow.setContent(place.name);
            infowindow.open(map, this);
        });
    }
</script>