@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>HackQuarantine</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcdspTAODl0dMGPbpkStxmhYRqroYwG0Y&libraries=places&callback=initMap" async defer></script>
    <style>
        #map {
            width: 100%;
            height: 400px;
            background-color: grey;
        }

        html, body {
            width: 100%;
            height: 100%;
        }

        body {
            background-image: url('/img/Home_BG.svg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

 
    </style>

</head>
<body>
    <div class="container">
        <div style="margin: 5% auto; height: 100%; text-align: center">
            <img style="margin: 5% 0 10px 0; width: 75%; max-width:700px;" src="~/img/logo.png" />
            <h5 style="margin-bottom: 50px;">Check where items are in stock.</h5>
        </div>
        <form asp-action="Result" method="post">
            <div class="container" style="align-items: center;">
                <div class="input-group ">
                    <input class="form-control" id="city" name="city" type="text" placeholder=" Enter city..." />
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-light btn-purple">Search</button>
                    </div>
                </div>
            </div>
        </form>
        <br />
        <br />
        <br />
        <div style="text-align: center;" class="container">
            <div style="margin-bottom: 20px;" class="row">
                <div class="col">
                    <i class="fa-3x fas fa-carrot"></i>
                    <p>Food</p>
                </div>
                <div class="col">
                    <i class="fa-3x fas fa-tools"></i>
                    <p>Tools</p>
                </div>
                <div class="col">
                    <i class="fa-3x fas fa-paperclip"></i>
                    <p>Supplies</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <i class="fa-3x far fa-heart"></i>
                    <p>Popular</p>
                </div>
                <div class="col">
                    <i class="fa-3x fas fa-exclamation-triangle"></i>
                    <p>Low Stock</p>
                </div>
                <div class="col">
                    <i class="fa-3x fas fa-bolt"></i>
                    <p>Selling Fast</p>
                </div>
            </div>
        </div>
        <div style="display: none;" id="map"></div>
    </div>
</body>
</html>

<script>
    var map;
    var service;
    var infowindow;
    var pos;
    var request;
    var place;
    var city;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: -34.397,
                lng: 150.644
            },
            zoom: 6
        });
        infoWindow = new google.maps.InfoWindow;

        getLocation();
        getNearByPlaces();
        callback();
    }

    function getLocation() {
        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var marker = new google.maps.Marker({
                    position: pos,
                    map: map,
                    icon: "http://maps.google.com/mapfiles/ms/micons/blue.png"
                })
                infoWindow.setPosition(pos);
                infoWindow.setContent('Location found.');
                infoWindow.open(map);
                map.setCenter(pos);
                getNearByPlaces(pos);
                var GEOCODING = 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + position.coords.latitude + '%2C' + position.coords.longitude + '&key=AIzaSyBcdspTAODl0dMGPbpkStxmhYRqroYwG0Y&language=en';

                $.getJSON(GEOCODING).done(function (location) {
                    // Get City
                    city = location.results[0].address_components[2].long_name;
                    $('#city').val(city);
                });
            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }

        infowindow = new google.maps.InfoWindow();
    }

    function getNearByPlaces(pos) {
        request = {
            location: pos,
            radius: '500',
            query: 'grocery'
        };

        service = new google.maps.places.PlacesService(map);
        service.textSearch(request, callback);
    }

    function callback(results, status) {
        var resultJson = [];
        if (status == google.maps.places.PlacesServiceStatus.OK) {
            var bounds = new google.maps.LatLngBounds();
            for (var i = 0; i < results.length; i++) {
                place = results[i];
                var obj = {
                    "PlaceId": place.place_id,
                    "Name": place.name,
                    "Address": place.formatted_address,
                    "Rating": place.rating
                }
                resultJson.push(obj);
                var mark = createMarker(results[i]);
                bounds.extend(mark.getPosition());
            }
            map.fitBounds(bounds);

            $.ajax({
                url: "@Url.Action("AddStores")",
                type: "POST",
                data: JSON.stringify(resultJson),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });

        } else console.log("callback.status=" + status);
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }

    function createMarker(place) {
        var marker = new google.maps.Marker({
            map: map,
            position: place.geometry.location,
            icon: "http://maps.google.com/mapfiles/ms/micons/red.png"
        });

        google.maps.event.addListener(marker, 'click', function () {
            infowindow.setContent(place.name);
            infowindow.open(map, this);
        });
        return marker;
    }
</script>