
@{
    ViewData["Title"] = "Menu";
}

<body>
    <div class="container">
        <div class="list-group">
            <div class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-1">
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <div class="col">
                        Login or Sign Up
                    </div>

                    <div class="col-1">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </div>
            </div>
            <div class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-1">
                        <i class="fas fa-cog"></i>
                    </div>
                    <div class="col">
                        Setting
                    </div>

                    <div class="col-1">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </div>
            </div>
            <div class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-1">
                        <i class="far fa-bookmark"></i>
                    </div>
                    <div class="col">
                        Bookmarks
                    </div>

                    <div class="col-1">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </div>
            </div>
            <div class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-1">
                        <i class="far fa-question-circle"></i>
                    </div>
                    <div class="col">
                        Customer Support
                    </div>

                    <div class="col-1">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </div>
            </div>
            <div class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-1">
                        <i class="fas fa-user-circle"></i>
                    </div>
                    <div class="col">
                        Privacy Statement
                    </div>

                    <div class="col-1">
                        <i class="fas fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

