@{
    ViewData["Title"] = "Store Index";
    Layout = "_Layout";
}

<h1>Search for stuff near you</h1>

<div id="map"></div>

<form asp-action="Search" method="post">
    <div asp-validation-summary="All"></div>
    <input id="search" name="search" type="text" placeholder="Enter search..." />
    <input id="city" name="city" type="text" placeholder="Enter city..." />
    <button onclick="Search()" id="searchButton" type="submit" class="btn btn-info">Search</button>
</form>